a{
	text-decoration: none;
}
#container{
	width:600px;
	height: 400px;
	border:3px solid #333;
	overflow: hidden;
	position: relative;
}
#list{
	width:4200px;
	height:400px;
	position: absolute;
	z-index: 1;
}
#list img{
	width:600px;
	height: 400px;
	float: left;
}
#buttons{
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;/*按钮在图片的上面*/
	bottom: 20px;
	left: 250px;
}
#buttons span{
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #4b4b4b;
	margin-right: 5px;
}
#buttons .on{
	background: orangered;/*选中的按钮样式*/
}
.arrow{
	cursor: pointer;
	display: none;
	line-height: 39px;
	text-align:center;
	font-size: 36px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
	top: 180px;
	background: gray;
	color: white;
	
}
.arrow:hover{
	background-color: rgba(0,0,0,0.7);
}
#container:hover .arrow{
	display: block;
}
#prev{left: 20px;}
#next{right: 20px;}